<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-to-Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="notification" id="notification"></div>

    <div class="main-container">
        <h1>Text-to-Speech</h1>
        <h4>For free</h4>

        <div class="panels-container">
            <div class="left-panel">
                <div class="model-selection">
                    <label for="voice">Choose voice:</label>
                    <select id="voice">
                        {% for voice in voices %}
                            <option value="{{ voice.ShortName }}">{{ voice.ShortName }}</option>
                        {% endfor %}
                    </select>     
                </div>

                <div class="slider-container">
                    <label for="pitch">Tone</label>
                    <input type="range" id="pitch" min="-50" max="50" value="0">
                    <span id="pitchValue">0%</span>
                </div>

                <div class="slider-container">
                    <label for="rate">Speed</label>
                    <input type="range" id="rate" min="-200" max="200" value="0">
                    <span id="rateValue">0%</span>
                </div>
            </div>

            <div class="right-panel">
                <textarea id="inputText" placeholder="Paste text here..."></textarea>
                <div class="char-count-container">
                    <span id="warningMessage" style="display: none; color: red; font-size: 12px; margin-right: 5px;">You have reached the maximum characters!</span>
                    <span id="charCount">0</span> / <span id="maxChars">5000</span>
                </div>   
                
                <div class="buttons">
                    <button id="synthesizeBtn">Play</button>
                    <button id="downloadBtn">Download</button>
                </div>
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
